{% extends 'base.html' %}
{% block content %}
{% include "navigation.html" %}

<section class="tm-padding-top-bottom-100">
    <div class="container text-center">
        <h2 class="title">Communication Management Work</h2>

        <p>
            Discover the work I have done in managing and enhancing communication strategies for various clients. 
            This area provides insights into my approach to community management and the revamping of social media 
            platforms, demonstrating the value added to each client's digital communication efforts. 
        </p>

        <div class="row" style="display: flex; flex-wrap: wrap;">
            <div class="col-md-4 col-sm-4">
                <a href="{% url 'cm-social-media' %}" style="color: inherit; text-decoration: inherit;">
                    <div class="work-wrapper" style="height: 100%;">
                        <h3 class="text-uppercase tm-work-h3">Social Media Performance Reports</h3>
                        <hr>
                        <p>
                            Detailed analyses of social media metrics and performance indicators.
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-4">
                <a href="{% url 'cm-content-management' %}" style="color: inherit; text-decoration: inherit;">
                    <div class="work-wrapper" style="height: 100%;">
                        <h3 class="text-uppercase tm-work-h3">Content Management</h3>
                        <hr>
                        <p>
                            Strategically developed content plans created for clients to boost their online 
                            presence and engagement.
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-4">
                <a href="{% url 'cm-marketing' %}" style="color: inherit; text-decoration: inherit;">
                    <div class="work-wrapper" style="height: 100%;">
                        <h3 class="text-uppercase tm-work-h3">Marketing</h3>
                        <hr>
                        <p>
                            Initial proposals outlining marketing strategies and plans tailored to clients' needs, 
                            as well as comprehensive pricing structures for different communication and marketing 
                            services.
                        </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
{% endblock content %}