{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include "navigation.html" %}

<section class="tm-padding-top-bottom-100">
    <div class="container text-center">
        <h2 class="title">Automotive</h2>
        
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/1.mov' %}" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/2.mov' %}" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/3.mov' %}" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/4.mp4' %}" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/5.mp4' %}" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/6.mov' %}" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/7.mp4' %}" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/8.mp4' %}" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-3 col-md-4">
                <video controls style="height: auto; width: 100%;">
                    <source src="{% static 'work/ugc/automotive/9.mp4' %}" type="video/mp4">
                </video>
            </div>


        </div>
    </div>

</section>

{% endblock content %}
