{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- START NAVIGATION -->
	<div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Anastasia</a>
			</div>
			<nav class="collapse navbar-collapse" id="rock-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li><a href="#work" class="smoothScroll">My Work</a></li>
					<!-- <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li> -->
					<li><a href="#resume" class="smoothScroll">Resume</a></li>
					<li><a href="#about" class="smoothScroll">About</a></li>
					<li><a href="#contact" class="smoothScroll">Contact</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<!-- END NAVIGATION -->

	<!-- START HOME -->
	<section id="home" class="the-home">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-1"></div>
				<div class="col-md-8 col-sm-10">
					<h1 class="tm-home-title" style="color: #fff;"><strong>Anastasia Ederer</strong></h1>
					<h2 class="tm-home-subtitle">Media and Communications Manager</h2>
					<p style="color: #fff;">
						I am a professional <strong>Media and Communications Manager</strong> and have <strong>2+ years</strong> of 
						experience in building and managing communities. Let us work together. Thank you.
					</p>
					<a href="#work" class="btn btn-default smoothScroll tm-view-more-btn">Let's Begin</a>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div>
		</div>
	</section>
	<!-- END HOME -->

	<!-- START work -->
	<section id="work" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-11">
					<h2 class="title">My <strong>Work</strong></h2>	
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-flash"></i>
						<h3 class="text-uppercase tm-work-h3">UGC <br><br></h3>
						<hr>
						<p>
							Explore a diverse collection of my digital work categorised into six unique niches: 
							UGC Automotive, Catering, Lifestyle, Fitness, Eproducts, and AI-Generated Content. 
							Each niche features a variety of digital assets, including reels, videos, photos, 
							logos, and ebooks. 
						</p>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-dashboard"></i>
						<h3 class="text-uppercase tm-work-h3">Communication Management</h3>
						<hr>
						<p>
							Discover the work I have done in managing and enhancing communication strategies for 
							various clients. This area provides insights into my approach to community management 
							and the revamping of social media platforms, demonstrating the value added to each 
							client's digital communication efforts. 
						</p>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-link"></i>
						<h3 class="text-uppercase tm-work-h3">Research and Certifications</h3>
						<hr>
						<p>
							This section highlights my academic and personal projects, including Business Plans, 
							University Work, and Personal Projects. You will find comprehensive and well-researched 
							documents that illustrate my skills in research, strategic planning, and continuous 
							learning.
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- END work -->

	<!-- START PORTFOLIO -->
	<!-- <section id="portfolio" class="tm-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounce">
					<div class="title">
						<h2 class="tm-portfolio-title">My <strong>Portfolio</strong></h2>
					</div>

					<div class="iso-section">
						<ul class="filter-wrapper clearfix">
							<li><a href="#" class="opc-main-bg selected" data-filter="*">All</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".html">HTML</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
						</ul>
						<div class="iso-box-section">
							<div class="iso-box-wrapper col4-iso-box">
								<div class="iso-box html photoshop wordpress mobile col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 0;">
									<div class="portfolio-thumb">
										<img src="{% static 'images/portfolio/infit-run-club.png' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">Infit Run Club</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
										</div>
									</div>
								</div>
								<div class="iso-box html wordpress mobile col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 0;">
									<div class="portfolio-thumb">
										<img src="{% static 'images/portfolio/monthly-content-plan.png' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">Monthly Content Plan</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
										</div>
									</div>
								</div>
								<div class="iso-box wordpress col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 0;">
									<div class="portfolio-thumb">
										<img src="{% static 'images/portfolio/ugc-insta-feed.jpeg' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">UGC Insta Feed Thumbnails</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
										</div>
									</div>
								</div>
								<div class="iso-box html mobile col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 0;">
									<div class="portfolio-thumb">
										<img src="{% static 'images/portfolio/ugc-fitness-plan.png' %}" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">UGC Fitness Plan</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
										</div>
									</div>
								</div>
								<div class="iso-box wordpress col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 0;">
									<div class="portfolio-thumb">
										<video autoplay loop controls muted class="fluid-img col-xs-12">
											<source src="{% static 'images/portfolio/ugc-auto.mp4' %}" type="video/mp4">
										</video>
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">UGC Auto</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
										</div>
									</div>
								</div>
								<div class="iso-box html photoshop col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 0;">
									<div class="portfolio-thumb">
										<video autoplay loop controls muted class="fluid-img col-xs-12">
											<source src="{% static 'images/portfolio/ugc-client-bts.mp4' %}" type="video/mp4">
										</video>
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">UGC Client Bts</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
										</div>
									</div>
								</div>
								<div class="iso-box photoshop col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 0;">
									<div class="portfolio-thumb">
										<video autoplay loop controls muted class="fluid-img col-xs-12">
											<source src="{% static 'images/portfolio/ugc-client-product.mp4' %}" type="video/mp4">
										</video>

										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">UGC Client Product</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
										</div>
									</div>
								</div>
								<div class="iso-box wordpress col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 0;">
									<div class="portfolio-thumb">
										<video autoplay loop controls muted class="fluid-img col-xs-12">
											<source src="{% static 'images/portfolio/ugc-story-compilation.mp4' %}" type="video/mp4">
										</video>
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">UGC Story Compilation</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- END PORTFOLIO -->

	<!-- START RESUME -->
	<section id="resume" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-9">					
					<div class="profile-img">
						<img src="{% static '/images/me.png' %}" style="max-width: 100%; height: auto;">
					</div>
				</div>
				<div class="col-md-6 col-sm-9">
					<h2 class="title">My <strong>Profile</strong></h2>
					<p><span class="tm-info-label">Name</span> Anastasia Ederer</p>
					<p><span class="tm-info-label">Location</span> Munich, Germany</p>
					<p><span class="tm-info-label">Phone</span> +49 176 417539 18</p>
					<p><span class="tm-info-label">Email</span> <a class="tm-red-text" href="mailto:info.anaederer@gmail.com">info.anaederer@gmail.com</a></p>

					<h2 class="title"><strong>Some</strong> Skills</h2>
					<p>
						Versed in the areas of:
						<div class="skill-tags">
							<span class="skill-tag">Digital Content Creation</span>
							<span class="skill-tag">UGC</span>
							<span class="skill-tag">Social Media Management</span>
							<span class="skill-tag">Marketing Strategy</span>
							<span class="skill-tag">Research & Analysis</span>
							<span class="skill-tag">Business Planning</span>
							<span class="skill-tag">AI Content Creation</span>
							<span class="skill-tag">Project Management</span>
							<span class="skill-tag">Client Collaboration</span>
							<span class="skill-tag">Communication</span>
							<span class="skill-tag">Creative Design</span>
						</div>
					</p>
					
				</div>
				<hr>
				<div id="about" class="col-md-12 about-me">
					<h2 class="title">About Me</h2>

					<p>
						Recent graduate with a master's degree in Media and Communication Management, aspiring to 
						become a top-tier Media and Communication Manager. 
						<br><br>
						I am adept at strategizing, creating, and curating impactful content that resonates with 
						modern trends while maintaining a company's brand image. With 1.5 years of valuable 
						experience at BMW Group's Internal and External Communication Department, I am fluent in 
						four languages, and have gained insights from diverse companies ranging from startups to 
						industry giants. 
						<br><br>
						I bring clear communication, leadership potential, and digital proficiency to enhance both 
						internal and external engagement. Passionate about storytelling, trend analysis, and the 
						dynamic automotive and tech industries, I aim to leverage my skills to drive innovation 
						and growth through strategic communication and marketing initiatives.
					</p>
					
					<div class='button neon-button'>
						<a href="{% static 'resume.pdf' %}" class='neon-link' target="_blank">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							Download Resume
						</a>
					</div>
				</div>

				<hr>
				
			</div>
		</div>
	</section>
	<!-- END RESUME -->

	<section class="companies tm-padding-top-bottom-100" style="background-color: #f8f8f8;">
		<div class="container text-center">
			<h2 class="title"><strong>Companies</strong> I've worked with</h2>

			<div class="row" style="display: flex; justify-content: center; flex-wrap: wrap;">
				<div class="col-md-3">
					<img src="{% static '/images/companies/company-1.png' %}" alt="" class="fluid-img">
				</div>
				<div class="col-md-3">
					<img src="{% static '/images/companies/company-2.png' %}" alt="" class="fluid-img">
				</div>
			</div>
		</div>
	</section>

	<section class="newsletter container tm-padding-top-bottom-100">
		<div class="col-md-12 newsletter-form">
					<form action="#" method="post">
						<h2 class="title">Sign up for my newsletter <strong>Elev8</strong></h2>
						<div class="newsletter-logo col-md-3">
							<img src="{% static '/images/newsletter-logo.png' %}" alt="" class="fluid-img">
						</div>
						<div class="col-md-9">
							<div class="col-md-12">
								<h3 class="text-center">
									Social Media, Tech, and Personal Development Knowledge in Just 5 Minutes. 
									Delivered to You Every Tuesday.
								</h3>
							</div>
							<fieldset class="form-group col-md-12" style="display: flex; justify-content: center; flex-direction: column;">
								<label for="email">Email Address</label>
								<input type="email" name="email" id="email" placeholder="Enter valid email..." class="form-control">
								<button type="submit" class="form-control">Subscribe</button>
								<p class="text-muted">* No spam. Unsubscribe at any time.</p>
							</fieldset>
						</div>
					</form>
				</div>
	</section>

	<!-- START ABOUT -->
	<!-- <section id="about" class="tm-about">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-7">
					<div class="title">
						<h2>This is <strong>me</strong></h2>
						<h1 class="tm-red-text">Anastasia <strong>Ederer</strong></h1>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- END ABOUT -->

	<!-- START SOCIAL -->
	<!-- <section id="social" class="tm-social">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.3s">
					<div class="media instagram">
						<a href="https://instagram.com/Anastasia_duhh">
							<div class="media-object pull-left">
								<i class="fa fa-instagram"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">Follow me on</h4>
								<h3>Instagram</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.6s">
					<div class="media linkedin">
						<a href="https://linkedin.com/in/anaederer101">
							<div class="media-object pull-left">
								<i class="fa fa-linkedin"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">Connect with me on</h4>
								<h3>LinkedIn</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.9s">
					<div class="media youtube">
						<a href="#">
							<div class="media-object pull-left">
								<i class="fa fa-youtube"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">Coming Soon</h4>
								<h3>YouTube</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- END SOCIAL -->

	<!-- START CONTACT -->
	<section id="contact" class="tm-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">					
					<h2 class="title">Drop <strong>me a line</strong></h2>
					<hr>					
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10">
					<form action="#" method="post">
						<div class="col-md-6 col-sm-6">
							<input class="form-control" type="text" placeholder="Your Name">
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control" type="email" placeholder="Your Email">
						</div>
						<div class="col-md-12 col-sm-12">
							<input class="form-control" type="text" placeholder="Your Subject">
							<textarea class="form-control" placeholder="Your Message" rows="6"></textarea>
						</div>
						<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
							<input class="form-control" type="submit" value="SHOOT MESSAGE">
						</div>
					</form>
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-12 col-sm-12">
					<div style="display: flex; justify-content: center; flex-grow: 1;">
						<p style="float: right;">Copyright &copy; 2024 Anastasia</p>
					</div>
					<div class="social-icons">
						<a href="https://linkedin.com/in/anaederer101" class="linkedin">
							<i class="fa fa-linkedin"></i>
						</a>
						<a href="https://instagram.com/Anastasia_duhh" class="instagram">
							<i class="fa fa-instagram"></i>
						</a>
						<a href="#" class="youtube">
							<i class="fa fa-youtube"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}